h2 {
  margin-bottom: 20px;
}

h3 {
  margin: 10px 0;
  color: #333;
}

div[cdkDropList] {
  border: 1px dashed #ddd;
  padding: 10px;
  margin-bottom: 20px;
}

div[cdkDrag] {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px 0;
  cursor: grab;
}

.columns-container {
  white-space: nowrap; /* Prevent wrapping */
  padding: 15px;
  overflow-x: auto; /* Allow horizontal scrolling if content overflows */
}

.column {
  display: inline-block; /* Align columns horizontally */
  vertical-align: top; /* Align columns to the top */
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  min-width: 250px; /* Fixed width for columns */
  margin-right: 15px; /* Space between columns */
}

.todos-container {
  margin-top: 10px;
}

.todo {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 8px;
  margin-bottom: 10px;
  cursor: grab;
}

.todo:active {
  cursor: grabbing;
}
