<div *ngIf="!isEditing; else editing">
  <button mat-raised-button color="primary" (click)="startEditing()">
    {{ buttonLabel }}
  </button>
</div>

<ng-template #editing>
  <div class="editable-input-container">
    <mat-form-field appearance="fill">
      <mat-label>{{ placeholder }}</mat-label>
      <input #addElementInputField matInput [(ngModel)]="value" (keydown.enter)="confirmInput()" />
    </mat-form-field>
    <button mat-icon-button color="primary" (click)="confirmInput()">
      <mat-icon>check</mat-icon>
    </button>
    <button mat-icon-button color="warn" (click)="cancelInput()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</ng-template>
