<h2 mat-dialog-title>Edit Todo</h2>
<mat-dialog-content>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="data.title" class="wide-title" />
  </mat-form-field>

  <div class="description-container">
    <label class="description-label">Description</label>
    <app-quill-editor-wrapper 
      [(ngModel)]="data.description"
      [dataId]="data.id"
      [onSaveAction]="saveTodo"
      (valueChange)="data.description = $event">
  </app-quill-editor-wrapper>
  </div>

  <h2>Comments</h2>
  <app-comments [todoId]="data.id"></app-comments>
</mat-dialog-content>
