/* You can add global styles to this file, and also import other style files */
.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #f8f9fa;
  padding: 15px;
  border-right: 1px solid #ddd;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.content {
  flex-grow: 1;
  padding: 15px;
  overflow-y: auto;
}

a.active {
  font-weight: bold;
  color: #007bff;
}

.fail-snackbar {
  --mdc-snackbar-container-color: #b50000 !important;
  --mdc-snackbar-supporting-text-color: #ffffff !important;
  --mat-mdc-snack-bar-button-color: white !important;
  white-space: pre-wrap
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
